<!--<app-data-table [header]="header" [data]="data" [rowsPerPage]="rowsPerPage"></app-data-table>-->
<app-p-data-table (clickActionEvent)="dataTableAction($event)" (goToDetailsClick)="goToCampaignDetails($event)" (pageChangeClick)="getDataTableRecords($event)" [data]="data" [rowsPerPage]="rowsPerPage" [headerArray]="headerArray" [loading]="loading" [recordsCount]="recordsCount" [tableReset]="tableReset"></app-p-data-table>
<div style="position:relative;height:400px;border:1px solid orange;">
</div>