<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Company</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <!--<li class="nav-item active">
        <a class="nav-link" href="#">Campaigns<span class="sr-only">(current)</span></a>
      </li>-->
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Campaigns
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item create-campaign" (click)="createCampaign()">Create a Campaign</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link search" (click)="showSearch()">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item right-nav-item" (click)="showHideDropDown()">
        <a class="nav-link" style="padding-right:20px">{{currentUser.firstName}}</a>
        <i class="fa fa-caret-down" style="position:absolute;right:6px;top:12px"></i>
      </li>
    </ul>
  </div>
  <div class="user-drop-down" *ngIf="showDropDown">
    <ul class="drop-down-ul">
      Manage Users
    </ul>
    <ul class="drop-down-ul" [routerLink]="['/login']">
      Logout
    </ul>
  </div>
</nav>