<div class="bc-wrapper">
    <div class="portal-breadcrumb-container" #breadcrumbContainer>
        <div class="breadcrumb-panel clearfix">
            <div class="breadcrumb-outer">
                <ul>
                    <li #myLink *ngFor="let link of links;  let i=index" [ngClass]="{ active: i < links.length - 1 }" [innerHTML]="link.html" (click)="showView($event, link.view, link.param)"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div *ngIf="buttons" class="buttons">
    <span class="border"></span>
</div>